<div class="container px-3 px-sm-0">
  <div class="row">
    <%= render 'users/user_info', user: @user, book: @book %>
    <div class="col-md-8 offset-md-1">
      <h2>Users</h2>
      <%= render 'users/user_list', users: @users %>
    </div>
  </div>
</div>